<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Classes -->
    <bean id="classes" class="com.wzw.entity.Classes">
        <property name="id" value="1"/>
        <property name="name" value="2" />
    </bean>
    <!-- Student -->
    <bean id="student" class="com.wzw.entity.Student">
        <property name="id" value="100"/>
        <property name="name" value="张三"/>
        <property name="age" value="22"/>
        <!-- bean之间得级联需要使用ref属性完成映射，不能直接使用value，否则会抛异常 -->
        <property name="classes" ref="classes"/>
    </bean>
</beans>